.carrosel__titulo{
    width: 100%;
    text-align: center;
    padding: 20px 0px 10px 0px;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    color: var(--laranja);
    text-transform: uppercase;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
     position: initial;
     padding: 5px 0px;
}
